doctype html
html
head
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap/css/dataTables.bootstrap4.min.css')
    script(src='/bootstrap/js/jquery-3.4.1.js')
    script(src='/bootstrap/js/jquery-3.3.1.slim.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')
    script(src='/bootstrap/js/popper.min.js')
    script(src='/bootstrap/js/bootstrap.bundle.min.js')
    script(src='/bootstrap/js/jquery.dataTables.min.js')
    script(src='/bootstrap/js/dataTables.bootstrap4.min.js')

body
    nav.nav.navbar-expand-lg.navbar-dark.bg-light(style="font-size:25px")
        a.nav-link.active(style="font-weight:bold") EXPRESS
        a.nav-link(href='/') Home
        a.nav-link(href='/users') Users

    .container-fluid
        div
            br
            button.btn.btn-outline-success(type='button', data-toggle='modal', data-target='#addModal', sytle='float:right')
                | Add Record
            #addModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='addModalLabel', aria-hidden='true')
                .modal-dialog.modal-dialog-centered(role='document')
                    .modal-content
                        .modal-header
                            h3#addModalLabel.modal-title Add Record
                        .modal-body
                            form(action='/users', method='POST', id='add-record')
                                .form-group.row
                                    label.col-sm-2.col-form-label username:
                                    .col-sm-10
                                        input.form-control(type='text', name='username', placeholder='')
                                .form-group.row
                                    label.col-sm-2.col-form-label password:
                                    .col-sm-10
                                        input.form-control(type='password', name='password', placeholder='')
                                .form-group.row
                                    label.col-sm-2.col-form-label email:
                                    .col-sm-10
                                        input.form-control(type='text', name='email', placeholder='')
                                .form-group.row
                                    label.col-sm-2.col-form-label first_name:
                                    .col-sm-10
                                        input.form-control(type='text', name='first_name', placeholder='')
                                .form-group.row
                                    label.col-sm-2.col-form-label middle_initial:
                                    .col-sm-10
                                        input.form-control(type='text', name='middle_initial', placeholder='')
                                .form-group.row
                                    label.col-sm-2.col-form-label last_name:
                                    .col-sm-10
                                        input.form-control(type='text', name='last_name', placeholder='')
                                .form-group.row
                                    label.col-sm-2.col-form-label address:
                                    .col-sm-10
                                        input.form-control(type='text', name='street_address', placeholder='')
                                .form-group.row
                                    label.col-sm-2.col-form-label birthday:
                                    .col-sm-10
                                        input.form-control(type='date', name='day_of_birth', placeholder='')
                                .form-group.row
                                    label.col-sm-2.col-form-label country:
                                    .col-sm-10
                                        select.custom-select.mr-sm-2(name='country_name')
                                            option(selected='Alabama') Alabama
                                            option(value='California') California
                                            option(value='Texas') Texas
                                            option(value='New York') New York
                                            option(value='Arizona') Arizona
                                            option(value='Georgia') Georgia
                        .modal-footer
                            button.btn.btn-secondary(type='button', data-dismiss='modal') Cancle
                            button.btn.btn-primary(type='button', onclick="document.getElementById('add-record').submit();") Submit
                            
    .container-fluid
        div
            br
            //- table.table.table-striped
            table#example.table.table-striped.table-bordered(style='width:100%')
                thead
                    tr 
                        th First_name
                        //- th Middle_initial
                        //- th Last_name
                        th Address
                        th City
                        th Country
                        th Driver_license
                        th License_state
                        th Payment_card
                        th username
                        th UpdatedAt
                        th Operations
                tbody
                    each data in usersData
                        tr
                            td 
                                a(tabindex='0', data-html="true", data-toggle='popover', data-trigger='focus', title='User Full Name', data-content="first name: #{data.first_name} <br/> middle name: #{data.middle_initial} <br/> lat name: #{data.last_name}") #{data.first_name}
                            //- td #{data.middle_initial}
                            //- td #{data.last_name}
                            td #{data.street_address}
                            td #{data.city_name}
                            td #{data.country_name}
                            td #{data.driver_license_number}
                            td #{data.driver_license_state}
                            td #{data.payment_card}
                            td 
                                a(tabindex='0', data-html="true", data-toggle='popover', data-trigger='focus', title='User Register Info', data-content="username: #{data.username} <br/> password:  #{data.password} <br/> email: #{data.email} <br/> created date: #{data.createdAt}") #{data.username}
                            td #{data.updatedAt}
                            td
                                button.btn.btn-primary.btn-xs(type='button', data-toggle='modal', data-target="#modal#{data._id}", value='#{data._id}')
                                    | Edit
                                .modal.fade(tabindex='-1', role='dialog', aria-labelledby='editModalLabel', aria-hidden='true', id="modal#{data._id}")
                                    .modal-dialog.modal-dialog-centered
                                        .modal-content 
                                            .modal-header
                                                h3#editModalLabel.modal-title Edit Record 
                                            .modal-body
                                                form(action='/users/edit/#{data._id}', method='POST', id="edit-record#{data._id}")
                                                    .form-group.row
                                                        label.col-sm-2.col-form-label username:
                                                        .col-sm-10
                                                            input.form-control(type='text', name='username', value='#{data.username}')
                                                    .form-group.row
                                                        label.col-sm-2.col-form-label password:
                                                        .col-sm-10
                                                            input.form-control(type='password', name='password', value='#{data.password}')
                                                    .form-group.row
                                                        label.col-sm-2.col-form-label email:
                                                        .col-sm-10
                                                            input.form-control(type='text', name='email', value='#{data.email}')
                                                    .form-group.row
                                                        label.col-sm-2.col-form-label first_name:
                                                        .col-sm-10
                                                            input.form-control(type='text', name='first_name', value='#{data.first_name}')
                                                    .form-group.row
                                                        label.col-sm-2.col-form-label middle_name:
                                                        .col-sm-10
                                                            input.form-control(type='text', name='middle_initial', value='#{data.middle_initial}')
                                                    .form-group.row
                                                        label.col-sm-2.col-form-label last_name:
                                                        .col-sm-10
                                                            input.form-control(type='text', name='last_name', value='#{data.last_name}')
                                                    .form-group.row
                                                        label.col-sm-2.col-form-label address:
                                                        .col-sm-10
                                                            input.form-control(type='text', name='street_address', value='#{data.street_address}')
                                                    .form-group.row
                                                        label.col-sm-2.col-form-label country:
                                                        .col-sm-10
                                                            select#inlineFormCustomSelect.custom-select.mr-sm-2(name='country_name', value='#{data.country_name}')
                                                                option(selected='Alabama') Alabama
                                                                option(value='California') California
                                                                option(value='Texas') Texas
                                                                option(value='New York') New York
                                                                option(value='Arizona') Arizona
                                                                option(value='Georgia') Georgia
                                            .modal-footer
                                                button.btn.btn-secondary(type='button', data-dismiss='modal') Cancle
                                                button.btn.btn-primary(type='button', onclick="document.getElementById('edit-record#{data._id}').submit()") Submit
                                form(action="/users/delete/#{data._id}", method="POST")
                                    button.btn.btn-danger.btn-xs(type="submit") Delete
            br
    div
        script.
            $(document).ready(function(){
                $('[data-toggle="popover"]').popover();
                $('#example').DataTable();
            });

    div
        .form-group.row
            label.col-sm-2.col-form-label(for='staticEmail') Email
            .col-sm-10
                input#staticEmail.form-control-plaintext(type='text', readonly='', value='email@example.com')
        .form-group.row
            label.col-sm-2.col-form-label(for='inputPassword') Password
            .col-sm-10
                input#inputPassword.form-control(type='password', placeholder='Password')


//- https://andwecode.com/create-popup-login-and-signup-form/  
//- https://getbootstrap.com/docs/4.0/components/modal/#live-demo

