doctype html
html
head
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    script(src='/bootstrap/js/jquery-3.4.1.js')
    script(src='/bootstrap/js/jquery-3.3.1.slim.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')
    script(src='/bootstrap/js/popper.min.js')

body
    .container-fluid
        h1 MongoDB Data using Jade engine. Manage all the data here
        
        div
            button.btn.btn-success(type='button', data-toggle='modal', data-target='#addModal')
                | Add Record
            #addModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='addModalLabel', aria-hidden='true')
                .modal-dialog.modal-dialog-centered(role='document')
                    .modal-content
                        .modal-header
                            h3#addModalLabel.modal-title Add Record
                        .modal-body
                            form(action='/users', method='POST', id='add-record')
                                .form-group
                                    label.col-form-label first_name:
                                        input.form-controlinput(type='text', name='first_name', placeholder='')
                                .form-group
                                    label.col-form-label middle_initial:
                                        input.form-controlinput(type='text', name='middle_initial', placeholder='')
                                .form-group
                                    label.col-form-label last_name:
                                        input.form-controlinput(type='text', name='last_name', placeholder='')
                                .form-group
                                    label.col-form-label street_address:
                                        input.form-controlinput(type='text', name='street_address', placeholder='')
                                .form-group
                                    label.col-form-label day_of_birth:
                                        input.form-controlinput(type='date', name='day_of_birth', placeholder='')
                                .form-group
                                    label.col-form-label first_name:
                                        select.custom-select.mr-sm-2(name='country_name')
                                            option(selected='Alabama') Alabama
                                            option(value='California') California
                                            option(value='Texas') Texas
                                            option(value='New York') New York
                                            option(value='Arizona') Arizona
                                            option(value='Georgia') Georgia
                        .modal-footer
                            button.btn.btn-secondary(type='button', data-dismiss='modal') Cancle
                            button.btn.btn-primary(type='button', onclick="document.getElementById('add-record').submit();") Submit
                            
    .container-fluid
        div
            br
            table.table.table-striped
                thead
                    tr 
                        th ID
                        th First_name
                        th Middle_initial
                        th Last_name
                        th Address
                        th City
                        th Country
                        th Day_of_birth
                        th Driver_license
                        th License_state
                        th Payment_card
                        th UpdatedAt
                        th Operations
                tbody
                    each data in usersData
                        tr
                            td #{data._id}
                            td #{data.first_name}
                            td #{data.middle_initial}
                            td #{data.last_name}
                            td #{data.street_address}
                            td #{data.city_name}
                            td #{data.country_name}
                            td #{data.day_of_birth}
                            td #{data.driver_license_number}
                            td #{data.driver_license_state}
                            td #{data.payment_card}
                            td #{data.updatedAt}
                            td
                                button.btn.btn-primary(type='button', data-toggle='modal', data-target="#modal#{data._id}", value='#{data._id}')
                                    | Edit
                                .modal.fade(tabindex='-1', role='dialog', aria-labelledby='editModalLabel', aria-hidden='true', id="modal#{data._id}")
                                    .modal-dialog
                                        .modal-content 
                                            .modal-header
                                                h3#editModalLabel.modal-title Edit Record 
                                            .modal-body
                                                | #{data._id}
                                                form(action='/users/edit/#{data._id}', method='POST', id="edit-record#{data._id}")
                                                    .form-group
                                                        label.col-form-label first_name:
                                                            input.form-controlinput(type='text', name='first_name', value='#{data.first_name}')
                                                    .form-group
                                                        label.col-form-label middle_initial:
                                                            input.form-controlinput(type='text', name='middle_initial', value='#{data.middle_initial}')
                                                    .form-group
                                                        label.col-form-label last_name:
                                                            input.form-controlinput(type='text', name='last_name', value='#{data.last_name}')
                                                    .form-group
                                                        label.col-form-label street_address:
                                                            input.form-controlinput(type='text', name='street_address', value='#{data.street_address}')
                                                    .form-group
                                                        label.col-form-label country_name:
                                                            select#inlineFormCustomSelect.custom-select.mr-sm-2(name='country_name', value='#{data.country_name}')
                                                                option(selected='Alabama') Alabama
                                                                option(value='California') California
                                                                option(value='Texas') Texas
                                                                option(value='New York') New York
                                                                option(value='Arizona') Arizona
                                                                option(value='Georgia') Georgia
                                            .modal-footer
                                                button.btn.btn-secondary(type='button', data-dismiss='modal') Cancle
                                                button.btn.btn-primary(type='button', onclick="document.getElementById('edit-record#{data._id}').submit()") Submit
                                form(action="/users/delete/#{data._id}", method="POST")
                                    button.btn.btn-outline-info(type="submit") Delete



//-   https://andwecode.com/create-popup-login-and-signup-form/  
//- https://getbootstrap.com/docs/4.0/components/modal/#live-demo