doctype html
html
head
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    script(src='/bootstrap/js/jquery-3.4.1.js')
    script(src='/bootstrap/js/jquery-3.3.1.slim.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')
    script(src='/bootstrap/js/popper.min.js')

body
    h1 MongoDB Data using Jade engine. Manage all the data here
    
    div
        button.btn.btn-success(type='button', data-toggle='modal', data-target='#exampleModal')
            | Add Record
        #exampleModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
            .modal-dialog(role='document')
                .modal-content
                    .modal-header
                        h5#exampleModalLabel.modal-title Add Record
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                    .modal-body
                        form(action='/users', method='POST', id='add-record')
                            .form-group
                                label.col-form-label(for='recipient-name') first_name:
                                    input#recipient-name.form-controlinput(type='text', name='first_name', placeholder='')
                            .form-group
                                label.col-form-label(for='message-text') middle_initial:
                                    input#recipient-name.form-controlinput(type='text', name='middle_initial', placeholder='')
                            .form-group
                                label.col-form-label(for='message-text') last_name:
                                    input#recipient-name.form-controlinput(type='text', name='last_name', placeholder='')
                            .form-group
                                label.col-form-label(for='message-text') street_address:
                                    input#recipient-name.form-controlinput(type='text', name='street_address', placeholder='')
                            .form-group
                                label.col-form-label(for='message-text') day_of_birth:
                                    input#recipient-name.form-controlinput(type='date', name='day_of_birth', placeholder='')
                            .form-group
                                label.col-form-label(for='message-text') first_name:
                                    select#inlineFormCustomSelect.custom-select.mr-sm-2(name='country_name')
                                        option(selected='Alabama') Alabama
                                        option(value='California') California
                                        option(value='Texas') Texas
                                        option(value='New York') New York
                                        option(value='Arizona') Arizona
                                        option(value='Georgia') Georgia
                    .modal-footer
                        button.btn.btn-secondary(type='button', data-dismiss='modal') Cancle
                        button.btn.btn-primary(type='button', onclick="document.getElementById('add-record').submit();") Submit

    div
        br
        table#tb.table.table-hover
            thead
                tr 
                    th first_name
                    th middle_initial
                    th last_name
                    th address
                    th city
                    th country
                    th day_of_birth
                    th driver_license
                    th license_state
                    th payment_card
                    th updatedAt
                    th operations
            tbody
                each data in usersData
                    tr
                        //- td #{data._id}
                        td(value='2' key='#{data._id}' name='first_name') #{data.first_name}
                        td(value='2') #{data.middle_initial}
                        td(value='2') #{data.last_name}
                        td(value='2') #{data.street_address}
                        td(value='2') #{data.city_name}
                        td(value='1') #{data.country_name}
                        td(value='1') #{data.day_of_birth}
                        td(value='1') #{data.driver_license_number}
                        td(value='1') #{data.driver_license_state}
                        td(value='1') #{data.payment_card}
                        td(value='1') #{data.updatedAt}
                        td(value='1')
                            button.btn.btn-primary(type='button', data-toggle='modal', data-target='#exampleModal', data-whatever='@fat') Edit
                            #exampleModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
                                .modal-dialog(role='document')
                                    .modal-content
                                        .modal-header
                                            h5#exampleModalLabel.modal-title Add Record
                                        .modal-body
                                            form(action='/users', method='POST', id='edit-record')
                                                .form-group
                                                    label.col-form-label(for='recipient-name') Recipient:
                                                        input#recipient-name.form-control(type='text')
                                                .form-group
                                                    label.col-form-label(for='message-text') Message:
                                                        input#recipient-name.form-control(type='text')
                                        .modal-footer
                                            button.btn.btn-secondary(type='button', data-dismiss='modal') Cancle
                                            button.btn.btn-primary(type='button', id="add-submit", onclick="document.getElementById('edit-record').submit();") Submit
                            form(action="/users/delete/#{data._id}", method="POST")
                                button.btn.btn-primary(type="submit") Delete

    style.
        form {
            font-family: sans-serif;
            font-size:12px;
        }
        table {
            font-family: sans-serif;
            font-size:15px;
            color:#333333;
            border: 1px solid black;
            border-color: #666666;
            border-collapse: collapse;
        }
        th {
            border: 1px solid black;
            padding: 10px;
            background-color: #dedede;
        }
        td {
            border: 1px solid black;
            padding: 10px;
            background-color: #ffffff;
        }
        label {
            display: table-cell;
            text-align: left;
        }
        input {
            margin-top: 0.3rem;
            display: table-cell;
            border-style: solid;
            border-color: #E6E6FA;
            border-top-width: 1px;
            border-right-width: 1px; 
            border-bottom-width: 1px;
            border-left-width: 1px;
        }
        div.row{
            display:table-row;
        }


//- https://getbootstrap.com/docs/4.0/components/modal/#live-demo