extends layout

head

block content
    .container-fluid
        div
            br
            button.btn.btn-success(type='button', data-toggle='modal', data-target='#addModal', sytle='float:right')
                | Add Record
            #addModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='addModalLabel', aria-hidden='true')
                .modal-dialog.modal-dialog-centered(role='document')
                    .modal-content
                        .modal-header.bg-success.text-white
                            h3#addModalLabel.modal-title Add
                        .modal-body
                            form(action='/users', method='POST', id='add-record')
                                .form-group.row
                                    label.col-sm-3.col-form-label username:
                                    .col-sm-9
                                        input.form-control(type='text', name='username', placeholder='')
                                .form-group.row
                                    label.col-sm-3.col-form-label password:
                                    .col-sm-9
                                        input.form-control(type='password', name='password', placeholder='')
                                .form-group.row
                                    label.col-sm-3.col-form-label email:
                                    .col-sm-9
                                        input.form-control(type='text', name='email', placeholder='')
                                .form-group.row
                                    label.col-sm-3.col-form-label first_name:
                                    .col-sm-9
                                        input.form-control(type='text', name='first_name', placeholder='')
                                .form-group.row
                                    label.col-sm-3.col-form-label middle_initial:
                                    .col-sm-9
                                        input.form-control(type='text', name='middle_initial', placeholder='')
                                .form-group.row
                                    label.col-sm-3.col-form-label last_name:
                                    .col-sm-9
                                        input.form-control(type='text', name='last_name', placeholder='')
                                .form-group.row
                                    label.col-sm-3.col-form-label address:
                                    .col-sm-9
                                        input.form-control(type='text', name='street_address', placeholder='')
                                .form-group.row
                                    label.col-sm-3.col-form-label birthday:
                                    .col-sm-9
                                        input.form-control(type='date', name='day_of_birth', placeholder='')
                                .form-group.row
                                    label.col-sm-3.col-form-label state:
                                    .col-sm-9
                                        select.custom-select.mr-sm-2(name='state_name')
                                            option(selected='selected') Alabama
                                            option(value='California') California
                                            option(value='Texas') Texas
                                            option(value='New York') New York
                                            option(value='Arizona') Arizona
                                            option(value='Georgia') Georgia
                        .modal-footer
                            button.btn.btn-secondary(type='button', data-dismiss='modal') Cancle
                            button.btn.btn-success(type='button', onclick="document.getElementById('add-record').submit();") Add New
                            
    .container-fluid
        div
            br
            table#example.table.table-striped.table-bordered(style='width:100%')
                thead
                    tr 
                        th First_name
                        th Middle_initial
                        th Last_name
                        th Street_address
                        th State_name
                        th Payment_card
                        th Email
                        th UpdatedAt
                        th Operations
                tbody
                    each data in usersData
                        tr
                            td 
                                a(href='', data-toggle='modal', data-target="#viewmodal#{data._id}")
                                    | #{data.first_name}
                                .modal.fade(tabindex='-1', role='dialog', aria-labelledby='viewModalLabel', aria-hidden='true', id="viewmodal#{data._id}")
                                    .modal-dialog.modal-dialog-centered
                                        .modal-content 
                                            .modal-header.bg-primary.text-white
                                                h3#viewModalLabel.modal-title Detail
                                            .modal-body
                                                form()
                                                    .form-group.row
                                                        label.col-sm-3.col-form-label username:
                                                        .col-sm-9
                                                            input.form-control-plaintext(type='text', readonly='' value='#{data.username}')
                                                    .form-group.row
                                                        label.col-sm-3.col-form-label password:
                                                        .col-sm-9
                                                            input.form-control-plaintext(type='password', readonly='', value='#{data.password}')
                                                    .form-group.row
                                                        label.col-sm-3.col-form-label email:
                                                        .col-sm-9
                                                            input.form-control-plaintext(type='text', readonly='', value='#{data.email}')
                                                    .form-group.row
                                                        label.col-sm-3.col-form-label first_name:
                                                        .col-sm-9
                                                            input.form-control-plaintext(type='text', readonly='', value='#{data.first_name}')
                                                    .form-group.row
                                                        label.col-sm-3.col-form-label middle_name:
                                                        .col-sm-9
                                                            input.form-control-plaintext(type='text', readonly='', value='#{data.middle_initial}')
                                                    .form-group.row
                                                        label.col-sm-3.col-form-label last_name:
                                                        .col-sm-9
                                                            input.form-control-plaintext(type='text', readonly='', value='#{data.last_name}')
                                                    .form-group.row
                                                        label.col-sm-3.col-form-label address:
                                                        .col-sm-9
                                                            input.form-control-plaintext(type='text', readonly='', value='#{data.street_address}')
                                                    .form-group.row
                                                        label.col-sm-3.col-form-label State:
                                                        .col-sm-9
                                                            input.form-control-plaintext(type='text', readonly='', value='#{data.state_name}')
                                            .modal-footer
                                                button.btn.btn-secondary(type='button', data-dismiss='modal') Cancel
                            td #{data.middle_initial}
                            td #{data.last_name}
                            td #{data.street_address}
                            td #{data.state_name}
                            td #{data.payment_card}
                            td 
                                a(tabindex='0', data-html="true", data-toggle='popover', data-trigger='focus', title='User Register Info', data-content="emailValid: #{data.emailValid} <br/> password:  #{data.password} <br/> email: #{data.email} <br/> created date: #{data.createdAt}") #{data.email}
                            td #{data.updatedAt}
                            td
                                .btn-toolbar.mb-3(role='toolbar', aria-label='Toolbar with button groups')
                                    .btn-group.mr-2(role='group', aria-label='First group')
                                        button.btn.btn-warning.btn-sm.rounded(type='button', data-toggle='modal', data-target="#modal#{data._id}", value='#{data._id}')
                                            | Edit
                                        .modal.fade(tabindex='-1', role='dialog', aria-labelledby='editModalLabel', aria-hidden='true', id="modal#{data._id}")
                                            .modal-dialog.modal-dialog-centered
                                                .modal-content 
                                                    .modal-header.bg-warning.text-white
                                                        h3#editModalLabel.modal-title Edit Record 
                                                    .modal-body
                                                        form(action='/users/edit/#{data._id}', method='POST', id="edit-record#{data._id}")
                                                            .form-group.row
                                                                label.col-sm-3.col-form-label username:
                                                                .col-sm-9
                                                                    input.form-control(type='text', name='username', value='#{data.username}')
                                                            .form-group.row
                                                                label.col-sm-3.col-form-label password:
                                                                .col-sm-9
                                                                    input.form-control(type='password', name='password', value='#{data.password}')
                                                            .form-group.row
                                                                label.col-sm-3.col-form-label email:
                                                                .col-sm-9
                                                                    input.form-control(type='text', name='email', value='#{data.email}')
                                                            .form-group.row
                                                                label.col-sm-3.col-form-label first_name:
                                                                .col-sm-9
                                                                    input.form-control(type='text', name='first_name', value='#{data.first_name}')
                                                            .form-group.row
                                                                label.col-sm-3.col-form-label middle_name:
                                                                .col-sm-9
                                                                    input.form-control(type='text', name='middle_initial', value='#{data.middle_initial}')
                                                            .form-group.row
                                                                label.col-sm-3.col-form-label last_name:
                                                                .col-sm-9
                                                                    input.form-control(type='text', name='last_name', value='#{data.last_name}')
                                                            .form-group.row
                                                                label.col-sm-3.col-form-label address:
                                                                .col-sm-9
                                                                    input.form-control(type='text', name='street_address', value='#{data.street_address}')
                                                            .form-group.row
                                                                label.col-sm-3.col-form-label state:
                                                                .col-sm-9
                                                                    select.custom-select.mr-sm-2(name='state_name')
                                                                        option(value='#{data.state_name}') #{data.state_name}
                                                                        option(value='Alabama') Alabama
                                                                        option(value='California') California
                                                                        option(value='Texas') Texas
                                                                        option(value='New York') New York
                                                                        option(value='Arizona') Arizona
                                                                        option(value='Georgia') Georgia
                                                    .modal-footer
                                                        button.btn.btn-secondary(type='button', data-dismiss='modal') Cancle
                                                        button.btn.btn-warning.text-white(type='button', onclick="document.getElementById('edit-record#{data._id}').submit()") Save Changes
                                    .btn-group.mr-2(role='group', aria-label='First group')
                                        button.btn.btn-danger.btn-sm.rounded(type='button', data-toggle='modal', data-target="#deletemodal#{data._id}", value='#{data._id}')
                                            | delete
                                        .modal.fade(tabindex='-1', role='dialog', aria-labelledby='deleteModalLabel', aria-hidden='true', id="deletemodal#{data._id}")
                                            .modal-dialog.modal-dialog-centered
                                                .modal-content 
                                                    .modal-header.bg-danger.text-white
                                                        h5#deleteModalLabel.modal-title Delete Record 
                                                            //- br
                                                            //- .alert.alert-danger(role='alert')
                                                            //-     | Are you sure you want to delete?
                                                    .modal-body
                                                        form(action='/', method='')
                                                            .form-group.row
                                                                label.col-sm-3.col-form-label username:
                                                                .col-sm-9
                                                                    input.form-control-plaintext(type='text', readonly='' value='#{data.username}')
                                                            .form-group.row
                                                                label.col-sm-3.col-form-label password:
                                                                .col-sm-9
                                                                    input.form-control-plaintext(type='password', readonly='', value='#{data.password}')
                                                            .form-group.row
                                                                label.col-sm-3.col-form-label email:
                                                                .col-sm-9
                                                                    input.form-control-plaintext(type='text', readonly='', value='#{data.email}')
                                                            .form-group.row
                                                                label.col-sm-3.col-form-label first_name:
                                                                .col-sm-9
                                                                    input.form-control-plaintext(type='text', readonly='', value='#{data.first_name}')
                                                            .form-group.row
                                                                label.col-sm-3.col-form-label middle_name:
                                                                .col-sm-9
                                                                    input.form-control-plaintext(type='text', readonly='', value='#{data.middle_initial}')
                                                            .form-group.row
                                                                label.col-sm-3.col-form-label last_name:
                                                                .col-sm-9
                                                                    input.form-control-plaintext(type='text', readonly='', value='#{data.last_name}')
                                                            .form-group.row
                                                                label.col-sm-3.col-form-label address:
                                                                .col-sm-9
                                                                    input.form-control-plaintext(type='text', readonly='', value='#{data.street_address}')
                                                            .form-group.row
                                                                label.col-sm-3.col-form-label State:
                                                                .col-sm-9
                                                                    input.form-control-plaintext(type='text', readonly='', value='#{data.state_name}')
                                                    .modal-footer
                                                        button.btn.btn-secondary.btn-sm(type='button', data-dismiss='modal') Cancle
                                                        form(action="/users/delete/#{data._id}", method="POST")
                                                            button.btn.btn-danger.btn-sm(type="submit") Delete
    div
        script.
            $(document).ready(function(){
                $('[data-toggle="popover"]').popover();
                $('#example').DataTable();
            });

