doctype html
html

head
    style. 
        table {
            font-family: sans-serif;
            font-size:15px;
            color:#333333;
            border: 1px solid black;
            border-color: #666666;
            border-collapse: collapse;
        }
        th {
            border: 1px solid black;
            padding: 10px;
            background-color: #dedede;
        }
        td {
            border: 1px solid black;
            padding: 10px;
            background-color: #ffffff;
        }

body
    h1 MongoDB Data using Jade engine. Manage all the data here
    
    div
        form(action='/users', method='POST')
            | First name:
            input(type='text', name='first_name', placeholder='Mickey')
            br
            | Last name:
            input(type='text', name='last_name', placeholder='Mouse')
            br
            | Birthday:
            input(type='date', name='day_of_birth')
            br
            | Country name:
            select(name='country_name')
                - repeation = [ 'Alabama', 'California', 'Texas', 'Florida', 'New York']
                each item in repeation
                    option(name="#{item}") #{item}
            br
            input(type='submit', value='Add Record')
            br
        //- button(type="submit") Show form

    div
        table.table.table-hover
            thead
                tr 
                    //- th _id
                    th first_name
                    th middle_initial
                    th last_name
                    th street_address
                    th city_name
                    th country_name
                    th day_of_birth
                    th driver_license
                    th license_state
                    th payment_card
                    th updatedAt
                    th operations
            tbody
                each data in usersData
                    tr
                        //- td=data._id
                        td
                            a(href='', onClick="alert('Adam!!')") #{data.first_name}
                        td=data.middle_initial
                        td=data.last_name
                        td=data.street_address
                        td=data.city_name
                        td=data.country_name
                        td=data.day_of_birth
                        td=data.driver_license_number
                        td=data.driver_license_state
                        td=data.payment_card
                        td=data.updatedAt
                        td
                            form(action="#", method="")
                                button(type="submit") update
                            form(action="/users/delete/#{data._id}", method="POST")
                                button(type="submit") delete
    
    //- div
    //-     button(onClick="something()") Click
    //-     script.
    //-         var something = function() {
    //-             console.log('something');
    //-         }