doctype html
html
head

body
    h1 MongoDB Data using Jade engine. Manage all the data here
    
    div
        //- button.trigger(style='background-color: #7FFF00; padding: 15px 32px; font-size: 16px; text-align: center; border: 1px solid #808080;') Add Record
        //- .modal
        //-     .modal-content
        //-         span.close-button ×
        //-         form(action='/users', method='POST')
        //-             .row
        //-                 label First name:
        //-                 input(type='text', name='first_name', placeholder='')
        //-             .row
        //-                 label Middle_initial:
        //-                 input(type='text', name='middle_initial', placeholder='')
        //-             .row
        //-                 label Last name:
        //-                 input(type='text', name='last_name', placeholder='')
        //-             .row
        //-                 label Street_address:
        //-                 input(type='text', name='street_address', placeholder='')
        //-             .row
        //-                 label City_name:
        //-                 input(type='text', name='city_name', placeholder='')
        //-             .row
        //-                 label Payment_card:
        //-                 input(type='text', name='payment_card', placeholder='')
        //-             .row
        //-                 label Birthday:
        //-                 input(type='date', name='day_of_birth')
        //-             .row
        //-                 label Country:
        //-                 select(name='country_name')
        //-                     - repeation = [ 'Alabama', 'California', 'Texas', 'Florida', 'New York', 'Hawali', 'Arizona', 'Georgia', 'Virginia']
        //-                     each item in repeation
        //-                         option(name="#{item}") #{item}
        //-             input(type='submit', value='Add Record', style='background-color: #ADFF2F; padding: 5px; border: 1px solid #808080; width:100%;')

    div
        table.table.table-hover
            thead
                tr 
                    th first_name
                    th middle_initial
                    th last_name
                    th address
                    th city
                    th country
                    th day_of_birth
                    th driver_license
                    th license_state
                    th payment_card
                    th updatedAt
                    th operations
            tbody
                each data in usersData
                    tr
                        td
                            a(href='', onClick="alert('Hello, #{data.first_name}.#{data.last_name} from #{data.country_name}')") #{data.first_name}
                        td=data.middle_initial
                        td=data.last_name
                        td=data.street_address
                        td=data.city_name
                        td=data.country_name
                        td=data.day_of_birth
                        td=data.driver_license_number
                        td=data.driver_license_state
                        td=data.payment_card
                        td=data.updatedAt
                        td
                            //- button.trigger Update
                            //- .modal
                            //-     .modal-content
                            //-         span.close-button ×
                            //-         h1 Hello
                            form(action="/users/delete/#{data._id}", method="POST")
                                button(type="submit") Delete
    
    div
        button.trigger Update
        .modal
            .modal-content
                span.close-button ×
                h1 Hello
    div
        button.trigger Update2
        .modal
            .modal-content
                span.close-button ×
                h1 Hello

    script.
        var modal = document.querySelector(".modal");
        var trigger = document.querySelector(".trigger");
        var closeButton = document.querySelector(".close-button");

        function toggleModal() {
            modal.classList.toggle("show-modal");
        }
        function windowOnClick(event) {
            if (event.target === modal) {
                toggleModal();
            }
        }
        trigger.addEventListener("click", toggleModal);
        closeButton.addEventListener("click", toggleModal);
        window.addEventListener("click", windowOnClick);

    style.
        form {
            font-family: sans-serif;
            font-size:12px;
        }
        table {
            font-family: sans-serif;
            font-size:15px;
            color:#333333;
            border: 1px solid black;
            border-color: #666666;
            border-collapse: collapse;
        }
        th {
            border: 1px solid black;
            padding: 10px;
            background-color: #dedede;
        }
        td {
            border: 1px solid black;
            padding: 10px;
            background-color: #ffffff;
        }
        label {
            display: table-cell;
            text-align: left;
        }
        input {
            margin-top: 0.3rem;
            display: table-cell;
            border-style: solid;
            border-color: #E6E6FA;
            border-top-width: 1px;
            border-right-width: 1px; 
            border-bottom-width: 1px;
            border-left-width: 1px;
        }
        div.row{
            display:table-row;
        }
        .modal {
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            opacity: 0;
            visibility: hidden;
            transform: scale(1.1);
        }
        .modal-content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: white;
            padding: 1rem 1.5rem;
            width: 20rem;
            border-radius: 0.5rem;
        }
        .close-button {
            float: right;
            width: 1.5rem;
            line-height: 1.5rem;
            text-align: center;
            cursor: pointer;
            border-radius: 0.25rem;
            background-color: lightgray;
        }
        .close-button:hover {
            background-color: darkgray;
        }
        .show-modal {
            opacity: 1;
            visibility: visible;
            transform: scale(1.0);
            transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
        }
        


# http://jsfiddle.net/KDQab/1/